In [1]:
import numpy as np
import pandas as pd
#pip install seaborn 
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv("Data/LoanStats3a_securev1.csv",skiprows=1)
#if more than 50% values in an observation is NAN drop that observation
half_count = len(df.columns) / 2
df=df.dropna(axis='columns', how='all')

df = df.dropna(thresh=half_count)

C:\Users\Vasanti\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (0,49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.ix[:5,:7]

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%

In [4]:
#work on every feature slice-by-slice which one's are informative. We would drop some useless attributes and clean-up/modify others.
# .ix[row slice, column slice]
#df.ix[:4,:7]

# We won't need id or member_id as it has no real predictive power so we can drop them from this table
df=df.drop(['id','member_id'],1)

# drop the record if loan_amnt, funded_amnt is missing
df.loan_amnt=df.loan_amnt.dropna()
df.funded_amnt=df.funded_amnt.dropna()

# if the funded_amnt_inv is missing replace it with 
df.funded_amnt_inv=df.funded_amnt_inv.fillna(0)

In [5]:

#int_rate was loaded as an object data type instead of float due to the '%' character. Let's strip that out and convert the column type.
df.int_rate = pd.Series(df.int_rate).str.replace('%', '').astype(float)

#replace missing values for Interest Rate with mean value
df.int_rate=df.int_rate.fillna(float(df.int_rate.mean()))

In [6]:

#term was loaded as an object data type instead of int due to the ' months' character. Let's strip that out and convert the column type.
df.term=pd.Series(df.term).str.replace(' months', '')

#replace missing values for Term with max value
df.term=df.term.fillna(int(df['term'].value_counts().idxmax()))

In [7]:
df.ix[:5,8:15]

,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status
1,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-2011,Charged Off
3,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-2011,Fully Paid
4,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-2011,Fully Paid

In [8]:
#get the total number of value and unique values, total values are 42538 and unique values are 30660
df.emp_title.shape
df.emp_title.unique().shape

#replace missing values for emp_title with Not available
df.emp_title=df.emp_title.fillna("Not available")

In [9]:

#replacing missing values with 0
df.emp_length.replace('n/a', np.nan,inplace=True)
df.emp_length.fillna(value=0,inplace=True)

#convert categorical value into numerical value
df['emp_length'].replace(to_replace='[^0-9]+', value='', inplace=True, regex=True)
df['emp_length'] = df['emp_length'].astype(int)

In [10]:
#replace missing values for verification_status with Not verified
df.verification_status=df.verification_status.fillna("Not verified")

In [11]:
#replace missing values for home_ownership with max value
df.home_ownership=df.home_ownership.fillna("OTHER")

# drop the record if the annual_inc value is missing 
df.annual_inc=df.annual_inc.dropna()

#replace missing values for issue_d with Not available
df.issue_d=df.issue_d.fillna("Not available")

#replace missing values for loan_status with Not available
df.loan_status=df.loan_status.fillna("Not available")

In [12]:
df.ix[:5,15:21]

,pymnt_plan,url,desc,purpose,title,zip_code
1,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx
3,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx
4,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx

In [13]:
#these four fields would not provide any important informaation thus we are dropping them
df.drop(['pymnt_plan','url','desc','title','zip_code' ],1, inplace=True)

In [14]:

print(df.purpose.value_counts())

#replace missing values for loan_status with Not available
df.purpose=df.purpose.fillna("Not available")

debt_consolidation    15507
credit_card            4148
other                  3495
home_improvement       2494
major_purchase         1766
small_business         1509
car                    1197
wedding                 806
medical                 579
moving                  460
educational             373
house                   341
vacation                288
renewable_energy         78
Name: purpose, dtype: int64

In [15]:
df.ix[:5,17:25]

,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record
1,1.00,0.0,Apr-1999,740.0,744.0,5.0,NaN,NaN
3,20.00,0.0,Feb-1996,690.0,694.0,1.0,35.0,NaN
4,17.94,0.0,Jan-1996,695.0,699.0,0.0,38.0,NaN

In [16]:
#replace missing values for loan_status with Not available
df.addr_state=df.addr_state.fillna("Not available")

In [17]:
#replace missing values for loan_status with Not available
df.delinq_2yrs=df.delinq_2yrs.fillna(0)

In [18]:


#from datetime import datetime

#df.earliest_cr_line = pd.to_datetime(df.earliest_cr_line)

#dttoday = datetime.now().strftime('%Y-%m-%d')
# There is a better way to do this :) 
#df.earliest_cr_line = df.earliest_cr_line.apply(lambda x: (
 #       np.timedelta64((x - pd.Timestamp(dttoday)),'D').astype(int))/-365)

#df.earliest_cr_line"""

In [19]:
# drop the record if the fico_range_high and fico_range_low value is missing 
df.fico_range_low=df.fico_range_low.dropna()
df.fico_range_high=df.fico_range_high.dropna()


#FICO fico_range_low & fico_range_high scores on their own aren't as useful as a range thus we are considering its average
df['fico_range'] = df.fico_range_low.astype('str') + '-' + df.fico_range_high.astype('str')
df['meanfico'] = (df.fico_range_low + df.fico_range_high)/2
# drop the features that are not relevant
df.drop(['fico_range_low','fico_range_high','initial_list_status', 'mths_since_last_delinq','mths_since_last_record','pub_rec','open_acc'],1, inplace=True)

In [20]:
#replace missing values for inq_last_6mths with 0
df.inq_last_6mths=df.inq_last_6mths.fillna(0)

df.ix[:10,17:25]

,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,revol_bal,revol_util,total_acc,out_prncp
1,1.00,0.0,Apr-1999,5.0,1687.0,9.4%,4.0,0.0
3,20.00,0.0,Feb-1996,1.0,5598.0,21%,37.0,0.0
4,17.94,0.0,Jan-1996,0.0,27783.0,53.9%,38.0,0.0
6,23.51,0.0,Jul-2005,1.0,17726.0,85.6%,11.0,0.0
7,5.35,0.0,Jan-2007,2.0,8221.0,87.5%,4.0,0.0
9,18.08,0.0,Sep-2004,0.0,9279.0,36.5%,3.0,0.0
10,16.12,0.0,Jan-1998,2.0,4032.0,20.6%,23.0,0.0

In [21]:
#dti and open_acc is yet to be taken care @@@@

In [22]:
df.ix[:10,25:35]

,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt
1,0.0,1014.530000,1014.53,456.46,435.17,0.00,122.90,1.11,Apr-2013,119.66
3,0.0,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-2015,357.48
4,0.0,4066.908161,4066.91,3000.00,1066.91,0.00,0.00,0.00,Jan-2017,67.30
6,0.0,10137.840008,10137.84,7000.00,3137.84,0.00,0.00,0.00,May-2016,1313.76
7,0.0,3939.135294,3939.14,3000.00,939.14,0.00,0.00,0.00,Jan-2015,111.34
9,0.0,1484.590000,1477.70,673.48,533.42,0.00,277.69,2.52,Nov-2012,121.45
10,0.0,7678.017673,7678.02,6500.00,1178.02,0.00,0.00,0.00,Jun-2013,1655.54

In [23]:
#replace missing values for revol_bal with 0
df.revol_bal=df.revol_bal.fillna(0)

#replace missing values for revol_util with 0
df.revol_util=df.revol_util.fillna(0)

#replace missing values for total_acc with 0
df.total_acc=df.total_acc.fillna(0)


#revol_util was loaded as an object data type instead of float due to the '%' character. Let's strip that out and convert the column type.
df.revol_util = pd.Series(df.revol_util).str.replace('%', '').astype(float)

In [24]:
#on checking the value count we see that majority portion of data is inclined towards one value thus these columns do not provide any relevant information, thus we are dropping the columns

print(df.out_prncp_inv.value_counts())
print(df.out_prncp.value_counts())

df.drop(['out_prncp_inv','out_prncp'],1, inplace=True)

0.0       33040
1382.7        1
Name: out_prncp_inv, dtype: int64
0.00       33040
1384.03        1
Name: out_prncp, dtype: int64

In [25]:
#total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee are not relevant in calculating the interest rate of the user, thus dropping them

df.drop(['total_pymnt','total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee','recoveries','collection_recovery_fee','next_pymnt_d','last_credit_pull_d'],1, inplace=True)

In [26]:
df.ix[:5,25:45]

print(df)

       loan_amnt  funded_amnt  funded_amnt_inv term  int_rate  installment  \
1         2500.0       2500.0      2500.000000   60     15.27        59.83
3        10000.0      10000.0     10000.000000   36     13.49       339.31
4         3000.0       3000.0      3000.000000   60     12.69        67.79
6         7000.0       7000.0      7000.000000   60     15.96       170.08
7         3000.0       3000.0      3000.000000   36     18.64       109.43
9         5375.0       5375.0      5350.000000   60     12.69       121.45
10        6500.0       6500.0      6500.000000   60     14.65       153.45
12        9000.0       9000.0      9000.000000   36     13.49       305.38
13        3000.0       3000.0      3000.000000   36      9.91        96.68
16       10000.0      10000.0     10000.000000   36     15.27       347.98
17        3600.0       3600.0      3600.000000   36      6.03       109.57
18        6000.0       6000.0      6000.000000   36     11.71       198.46
20       20250.0      20250.0     19142.161077   60     15.27       484.63
21       21000.0      21000.0     21000.000000   36     12.42       701.73
22       10000.0      10000.0     10000.000000   36     11.71       330.76
27        5000.0       5000.0      5000.000000   60     16.77       123.65
28        4000.0       4000.0      4000.000000   36     11.71       132.31
29        8500.0       8500.0      8500.000000   36     11.71       281.15
31       31825.0      31825.0     31825.000000   36      7.90       995.82
32       10000.0      10000.0      9975.000000   60     15.96       242.97
33        5000.0       5000.0      5000.000000   36      8.90       158.77
35       12400.0      12400.0     12400.000000   36     10.65       403.91
36       10800.0      10800.0     10800.000000   36      9.91       348.03
37       15000.0      15000.0     15000.000000   36      7.90       469.36
38        6000.0       6000.0      6000.000000   36     12.42       200.50
39       12500.0      12500.0     12475.000000   60     12.69       282.44
40        9600.0       9600.0      9600.000000   36      7.51       298.67
41       12000.0      12000.0     12000.000000   36      7.90       375.49
44        6000.0       6000.0      6000.000000   36      6.03       182.62
45       14000.0      14000.0     14000.000000   36      9.91       451.15
...          ...          ...              ...  ...       ...          ...
42439    11625.0      11625.0      1175.000000   36     15.01       403.07
42440     2500.0       2500.0       725.000000   36      7.43        77.69
42441    11050.0      11050.0      1175.000000   36     15.96       388.28
42442     3000.0       3000.0       625.000000   36     12.49       100.35
42443     6000.0       6000.0      1600.000000   36     14.70       207.11
42444     1500.0       1500.0        25.000000   36     11.86        49.72
42445     3000.0       3000.0       850.000000   36      8.38        94.54
42446     4500.0       4500.0      3000.000000   36      8.07       141.15
42448    15000.0      15000.0      1000.000000   36     12.17       499.45
42449     5000.0       5000.0      2250.000000   36     10.91       163.48
42453     8950.0       8950.0      3650.000000   36      9.64       287.30
42454     5700.0       5700.0      1450.000000   36     13.43       193.26
42455     5000.0       5000.0       725.000000   36     14.70       172.59
42456     8950.0       8950.0       500.000000   36     16.91       318.69
42457    16225.0      16225.0       475.000000   36     17.86       585.41
42458     5000.0       5000.0       750.000000   36     13.75       170.29
42459     2500.0       2500.0      1125.000000   36      9.96        80.63
42461     2000.0       2000.0      1775.000000   36      8.38        63.03
42463    25000.0       9550.0       800.000000   36     15.33       332.60
42464    25000.0      13750.0       825.000000   36     16.91       489.61
42466     6000.0       6000.0      1025.000000   36     12.80       201.60
42467    19000.0      19000.0      1450.000000   36     16.28       670.59
42468    12000.0      12000.0       850.000000   36     14.38       412.37
42469    13000.0      13000.0       825.000000   36     17.22       464.95
42470     8000.0       8000.0      1400.000000   36     16.91       284.86
42471    10000.0      10000.0      1775.000000   36     15.01       346.73
42472     8000.0       8000.0      4025.000000   36      9.96       257.99
42474    13000.0      13000.0       700.000000   36     10.91       425.04
42477     2000.0       2000.0      1000.000000   36     13.43        67.81
42478     3000.0       3000.0      1300.000000   36     13.75       102.17

      grade sub_grade                                     emp_title  \
1         C        C4                                         Ryder
3         C        C1                           AIR RESOURCES BOARD
4         B        B5                      University Medical Group
6         C        C5                     Southern Star Photography
7         E        E1                               MKC Accounting
9         B        B5                                     Starbucks
10        C        C3                         Southwest Rural metro
12        C        C1           Va. Dept of Conservation/Recreation
13        B        B1                                        Target
16        C        C4                             Chin's Restaurant
17        A        A1                                      Duracell
18        B        B3                         Connection Inspection
20        C        C4              Archdiocese of Galveston Houston
21        B        B4                                Osram Sylvania
22        B        B3                                     Value Air
27        D        D2                                     Frito Lay
28        B        B3       Shands Hospital at the University of Fl
29        B        B3                                Oakridge homes
31        A        A4            Audubon Mutual Housing Corporation
32        C        C5                              US Legal Support
33        A        A5                        Good Samaritan Society
35        B        B2                               Sharp Lawn Inc.
36        B        B1                         Department of Justice
37        A        A4                               Gateway Hospice
38        B        B4                            Cox Communications
39        B        B5      United States Infrastructure Corporation
40        A        A3                        Nucor Building Systems
41        A        A4                                John Wiley Jr.
44        A        A1                     Stewart Enterprises, Inc.
45        B        B1                             golfers warehouse
...     ...       ...                                           ...
42439     F        F1                                           IBM
42440     A        A2                Georgia Institue of Technology
42441     F        F4                          swift transportation
42442     D        D3                             Thomson Financial
42443     E        E5                           national employment
42444     D        D1                                         Sears
42445     A        A5                                 Not available
42446     A        A4                          neurology associates
42448     D        D2                       Brookdale Senior Living
42449     C        C3                   Crawford Tracey Corporation
42453     B        B4                                 H. Beck, Inc.
42454     E        E1                             PEER Center, Inc.
42455     E        E5                                Douglas County
42456     G        G2                        Perelly transport, inc
42457     G        G5                           Sale solutions, inc
42458     E        E2                              Cicero Solutions
42459     B        B5                       Meyers Associates, L.P.
42461     A        A5                              Costco wholesale
42463     F        F2                   miami international freight
42464     G        G2                                  vg-tech, inc
42466     D        D4                   Securitas Security Services
42467     F        F5                             Packard Transport
42468     E        E4             Robert Wood Johnson/ Saint Peters
42469     G        G3  INSTTITUTE FOR CHILD AND FAMILY HEALTH, INC.
42470     G        G2                           Publix Supermarkets
42471     F        F1                                      HSBC USA
42472     B        B5                  New England Quality Electric
42474     C        C3                              LendingTree, LLC
42477     E        E1                                   Duke Energy
42478     E        E2                      ranstad inhouse services

       emp_length   ...    collections_12_mths_ex_med  policy_code  \
1               1   ...                           0.0          1.0
3              10   ...                           0.0          1.0
4               1   ...                           0.0          1.0
6               8   ...                           0.0          1.0
7               9   ...                           0.0          1.0
9               1   ...                           0.0          1.0
10              5   ...                           0.0          1.0
12              1   ...                           0.0          1.0
13              3   ...                           0.0          1.0
16              4   ...                           0.0          1.0
17             10   ...                           0.0          1.0
18              1   ...                           0.0          1.0
20              3   ...                           0.0          1.0
21             10   ...                           0.0          1.0
22             10   ...                           0.0          1.0
27              2   ...                           0.0          1.0
28             10   ...                           0.0          1.0
29              1   ...                           0.0          1.0
31              5   ...                           0.0          1.0
32              2   ...                           0.0          1.0
33              2   ...                           0.0          1.0
35             10   ...                           0.0          1.0
36              2   ...                           0.0          1.0
37              1   ...                           0.0          1.0
38              1   ...                           0.0          1.0
39              1   ...                           0.0          1.0
40              4   ...                           0.0          1.0
41             10   ...                           0.0          1.0
44             10   ...                           0.0          1.0
45              6   ...                           0.0          1.0
...           ...   ...                           ...          ...
42439           1   ...                           0.0          1.0
42440           1   ...                           0.0          1.0
42441           3   ...                           0.0          1.0
42442           1   ...                           0.0          1.0
42443           1   ...                           0.0          1.0
42444           5   ...                           0.0          1.0
42445           1   ...                           0.0          1.0
42446           1   ...                           0.0          1.0
42448           1   ...                           0.0          1.0
42449           1   ...                           0.0          1.0
42453           2   ...                           NaN          1.0
42454           5   ...                           NaN          1.0
42455           6   ...                           NaN          1.0
42456           3   ...                           NaN          1.0
42457           2   ...                           NaN          1.0
42458           1   ...                           NaN          1.0
42459           1   ...                           NaN          1.0
42461           1   ...                           NaN          1.0
42463           2   ...                           NaN          1.0
42464           3   ...                           NaN          1.0
42466           8   ...                           NaN          1.0
42467           1   ...                           NaN          1.0
42468           1   ...                           NaN          1.0
42469           1   ...                           NaN          1.0
42470          10   ...                           NaN          1.0
42471           1   ...                           NaN          1.0
42472           3   ...                           NaN          1.0
42474           2   ...                           NaN          1.0
42477           7   ...                           NaN          1.0
42478           1   ...                           NaN          1.0

      application_type acc_now_delinq chargeoff_within_12_mths delinq_amnt  \
1           INDIVIDUAL            0.0                      0.0         0.0
3           INDIVIDUAL            0.0                      0.0         0.0
4           INDIVIDUAL            0.0                      0.0         0.0
6           INDIVIDUAL            0.0                      0.0         0.0
7           INDIVIDUAL            0.0                      0.0         0.0
9           INDIVIDUAL            0.0                      0.0         0.0
10          INDIVIDUAL            0.0                      0.0         0.0
12          INDIVIDUAL            0.0                      0.0         0.0
13          INDIVIDUAL            0.0                      0.0         0.0
16          INDIVIDUAL            0.0                      0.0         0.0
17          INDIVIDUAL            0.0                      0.0         0.0
18          INDIVIDUAL            0.0                      0.0         0.0
20          INDIVIDUAL            0.0                      0.0         0.0
21          INDIVIDUAL            0.0                      0.0         0.0
22          INDIVIDUAL            0.0                      0.0         0.0
27          INDIVIDUAL            0.0                      0.0         0.0
28          INDIVIDUAL            0.0                      0.0         0.0
29          INDIVIDUAL            0.0                      0.0         0.0
31          INDIVIDUAL            0.0                      0.0         0.0
32          INDIVIDUAL            0.0                      0.0         0.0
33          INDIVIDUAL            0.0                      0.0         0.0
35          INDIVIDUAL            0.0                      0.0         0.0
36          INDIVIDUAL            0.0                      0.0         0.0
37          INDIVIDUAL            0.0                      0.0         0.0
38          INDIVIDUAL            0.0                      0.0         0.0
39          INDIVIDUAL            0.0                      0.0         0.0
40          INDIVIDUAL            0.0                      0.0         0.0
41          INDIVIDUAL            0.0                      0.0         0.0
44          INDIVIDUAL            0.0                      0.0         0.0
45          INDIVIDUAL            0.0                      0.0         0.0
...                ...            ...                      ...         ...
42439       INDIVIDUAL            0.0                      0.0         0.0
42440       INDIVIDUAL            0.0                      0.0         0.0
42441       INDIVIDUAL            0.0                      0.0         0.0
42442       INDIVIDUAL            0.0                      0.0         0.0
42443       INDIVIDUAL            0.0                      0.0         0.0
42444       INDIVIDUAL            0.0                      0.0         0.0
42445       INDIVIDUAL            0.0                      0.0         0.0
42446       INDIVIDUAL            0.0                      0.0         0.0
42448       INDIVIDUAL            0.0                      0.0         0.0
42449       INDIVIDUAL            0.0                      0.0         0.0
42453       INDIVIDUAL            0.0                      NaN         0.0
42454       INDIVIDUAL            0.0                      NaN         0.0
42455       INDIVIDUAL            0.0                      NaN         0.0
42456       INDIVIDUAL            0.0                      NaN         0.0
42457       INDIVIDUAL            1.0                      NaN        27.0
42458       INDIVIDUAL            0.0                      NaN         0.0
42459       INDIVIDUAL            0.0                      NaN         0.0
42461       INDIVIDUAL            0.0                      NaN         0.0
42463       INDIVIDUAL            0.0                      NaN         0.0
42464       INDIVIDUAL            0.0                      NaN         0.0
42466       INDIVIDUAL            0.0                      NaN         0.0
42467       INDIVIDUAL            0.0                      NaN         0.0
42468       INDIVIDUAL            0.0                      NaN         0.0
42469       INDIVIDUAL            0.0                      NaN         0.0
42470       INDIVIDUAL            0.0                      NaN         0.0
42471       INDIVIDUAL            0.0                      NaN         0.0
42472       INDIVIDUAL            0.0                      NaN         0.0
42474       INDIVIDUAL            0.0                      NaN         0.0
42477       INDIVIDUAL            0.0                      NaN         0.0
42478       INDIVIDUAL            0.0                      NaN         0.0

      pub_rec_bankruptcies  tax_liens   fico_range meanfico
1                      0.0        0.0  740.0-744.0    742.0
3                      0.0        0.0  690.0-694.0    692.0
4                      0.0        0.0  695.0-699.0    697.0
6                      0.0        0.0  690.0-694.0    692.0
7                      0.0        0.0  660.0-664.0    662.0
9                      0.0        0.0  725.0-729.0    727.0
10                     0.0        0.0  695.0-699.0    697.0
12                     0.0        0.0  710.0-714.0    712.0
13                     0.0        0.0  705.0-709.0    707.0
16                     0.0        0.0  670.0-674.0    672.0
17                     0.0        0.0  760.0-764.0    762.0
18                     0.0        0.0  685.0-689.0    687.0
20                     0.0        0.0  725.0-729.0    727.0
21                     0.0        0.0  705.0-709.0    707.0
22                     0.0        0.0  690.0-694.0    692.0
27                     0.0        0.0  675.0-679.0    677.0
28                     0.0        0.0  680.0-684.0    682.0
29                     0.0        0.0  695.0-699.0    697.0
31                     0.0        0.0  760.0-764.0    762.0
32                     0.0        0.0  690.0-694.0    692.0
33                     0.0        0.0  700.0-704.0    702.0
35                     0.0        0.0  720.0-724.0    722.0
36                     0.0        0.0  705.0-709.0    707.0
37                     0.0        0.0  730.0-734.0    732.0
38                     0.0        0.0  695.0-699.0    697.0
39                     0.0        0.0  735.0-739.0    737.0
40                     0.0        0.0  760.0-764.0    762.0
41                     0.0        0.0  725.0-729.0    727.0
44                     0.0        0.0  790.0-794.0    792.0
45                     0.0        0.0  725.0-729.0    727.0
...                    ...        ...          ...      ...
42439                  NaN        0.0  645.0-649.0    647.0
42440                  NaN        0.0  745.0-749.0    747.0
42441                  NaN        0.0  645.0-649.0    647.0
42442                  NaN        0.0  665.0-669.0    667.0
42443                  NaN        0.0  665.0-669.0    667.0
42444                  NaN        0.0  665.0-669.0    667.0

In [27]:
#calculating the last mean fico score
df['last_fico_range'] = df.last_fico_range_low.astype('str') + '-' + df.last_fico_range_high.astype('str')
df['last_meanfico'] = (df.last_fico_range_low + df.last_fico_range_high)/2
df.drop(['last_fico_range_high','last_fico_range_low','policy_code'],1, inplace=True)

In [28]:
#since the value count indicate majority of the data has just one value, we are dropping the column
print(df.collections_12_mths_ex_med.value_counts())
print(df.application_type.value_counts())
print(df.acc_now_delinq.value_counts())
print(df.chargeoff_within_12_mths.value_counts())
print(df.delinq_amnt.value_counts())
print(df.pub_rec_bankruptcies.value_counts())
print(df.tax_liens.value_counts())

df.drop(['acc_now_delinq','chargeoff_within_12_mths','delinq_amnt','pub_rec_bankruptcies','tax_liens','application_type','collections_12_mths_ex_med'],1, inplace=True)
#since the highest and lowest fico score is already considered, we can drop this field
df.drop(['fico_range', 'last_fico_range'],1, inplace=True)

0.0    33019
Name: collections_12_mths_ex_med, dtype: int64
INDIVIDUAL    33041
Name: application_type, dtype: int64
0.0    33038
1.0        3
Name: acc_now_delinq, dtype: int64
0.0    33019
Name: chargeoff_within_12_mths, dtype: int64
0.0     33040
27.0        1
Name: delinq_amnt, dtype: int64
0.0    29989
1.0     1803
2.0        8
Name: pub_rec_bankruptcies, dtype: int64
0.0    33040
1.0        1
Name: tax_liens, dtype: int64

In [29]:
#after carefully examining each field we have shortlisted 38 features listed below

print(df.columns)
df.head(30)

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length',
       'home_ownership', 'annual_inc', 'verification_status', 'issue_d',
       'loan_status', 'purpose', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'revol_bal', 'revol_util',
       'total_acc', 'last_pymnt_d', 'last_pymnt_amnt', 'meanfico',
       'last_meanfico'],
      dtype='object')

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,delinq_2yrs,earliest_cr_line,inq_last_6mths,revol_bal,revol_util,total_acc,last_pymnt_d,last_pymnt_amnt,meanfico,last_meanfico
1,2500.0,2500.0,2500.000000,60,15.27,59.83,C,C4,Ryder,1,...,0.0,Apr-1999,5.0,1687.0,9.40,4.0,Apr-2013,119.66,742.0,249.5
3,10000.0,10000.0,10000.000000,36,13.49,339.31,C,C1,AIR RESOURCES BOARD,10,...,0.0,Feb-1996,1.0,5598.0,21.00,37.0,Jan-2015,357.48,692.0,602.0
4,3000.0,3000.0,3000.000000,60,12.69,67.79,B,B5,University Medical Group,1,...,0.0,Jan-1996,0.0,27783.0,53.90,38.0,Jan-2017,67.30,697.0,692.0
6,7000.0,7000.0,7000.000000,60,15.96,170.08,C,C5,Southern Star Photography,8,...,0.0,Jul-2005,1.0,17726.0,85.60,11.0,May-2016,1313.76,692.0,652.0
7,3000.0,3000.0,3000.000000,36,18.64,109.43,E,E1,MKC Accounting,9,...,0.0,Jan-2007,2.0,8221.0,87.50,4.0,Jan-2015,111.34,662.0,687.0
9,5375.0,5375.0,5350.000000,60,12.69,121.45,B,B5,Starbucks,1,...,0.0,Sep-2004,0.0,9279.0,36.50,3.0,Nov-2012,121.45,727.0,502.0
10,6500.0,6500.0,6500.000000,60,14.65,153.45,C,C3,Southwest Rural metro,5,...,0.0,Jan-1998,2.0,4032.0,20.60,23.0,Jun-2013,1655.54,697.0,732.0
12,9000.0,9000.0,9000.000000,36,13.49,305.38,C,C1,Va. Dept of Conservation/Recreation,1,...,0.0,Apr-2004,1.0,10452.0,91.70,9.0,Jul-2012,305.38,712.0,617.0
13,3000.0,3000.0,3000.000000,36,9.91,96.68,B,B1,Target,3,...,0.0,Jul-2003,2.0,7323.0,43.10,11.0,Jan-2015,102.43,707.0,782.0
16,10000.0,10000.0,10000.000000,36,15.27,347.98,C,C4,Chin's Restaurant,4,...,0.0,Oct-1998,2.0,24043.0,70.20,28.0,Jan-2015,370.46,672.0,617.0
17,3600.0,3600.0,3600.000000,36,6.03,109.57,A,A1,Duracell,10,...,0.0,Aug-1993,0.0,22836.0,16.00,42.0,May-2013,583.45,762.0,792.0
18,6000.0,6000.0,6000.000000,36,11.71,198.46,B,B3,Connection Inspection,1,...,2.0,Oct-2003,0.0,0.0,37.73,14.0,Feb-2015,16.98,687.0,557.0
20,20250.0,20250.0,19142.161077,60,15.27,484.63,C,C4,Archdiocese of Galveston Houston,3,...,0.0,Nov-1997,3.0,17813.0,85.60,22.0,Aug-2015,6024.09,727.0,682.0
21,21000.0,21000.0,21000.000000,36,12.42,701.73,B,B4,Osram Sylvania,10,...,0.0,Feb-1983,0.0,32135.0,90.30,38.0,Sep-2013,701.73,707.0,532.0
22,10000.0,10000.0,10000.000000,36,11.71,330.76,B,B3,Value Air,10,...,0.0,Jul-1985,0.0,10056.0,82.40,21.0,Jan-2015,349.21,692.0,687.0
27,5000.0,5000.0,5000.000000,60,16.77,123.65,D,D2,Frito Lay,2,...,3.0,Oct-2003,0.0,4345.0,59.50,22.0,Dec-2012,123.65,677.0,577.0
28,4000.0,4000.0,4000.000000,36,11.71,132.31,B,B3,Shands Hospital at the University of Fl,10,...,1.0,Aug-1984,0.0,6110.0,37.70,44.0,Apr-2013,2638.77,682.0,687.0
29,8500.0,8500.0,8500.000000,36,11.71,281.15,B,B3,Oakridge homes,1,...,0.0,Nov-2006,0.0,6441.0,59.10,12.0,Dec-2014,581.59,697.0,597.0
31,31825.0,31825.0,31825.000000,36,7.90,995.82,A,A4,Audubon Mutual Housing Corporation,5,...,0.0,Nov-1981,0.0,23151.0,27.40,26.0,Aug-2013,16966.70,762.0,642.0
32,10000.0,10000.0,9975.000000,60,15.96,242.97,C,C5,US Legal Support,2,...,0.0,Feb-1997,1.0,16158.0,63.60,31.0,Jan-2017,241.99,692.0,572.0
33,5000.0,5000.0,5000.000000,36,8.90,158.77,A,A5,Good Samaritan Society,2,...,0.0,Apr-2005,0.0,2224.0,29.30,16.0,Jan-2015,163.64,702.0,692.0
35,12400.0,12400.0,12400.000000,36,10.65,403.91,B,B2,Sharp Lawn Inc.,10,...,0.0,Jul-2005,2.0,11095.0,57.20,12.0,Jan-2015,417.61,722.0,692.0
36,10800.0,10800.0,10800.000000,36,9.91,348.03,B,B1,Department of Justice,2,...,0.0,Dec-2000,0.0,2535.0,13.30,18.0,Nov-2013,3483.79,707.0,677.0
37,15000.0,15000.0,15000.000000,36,7.90,469.36,A,A4,Gateway Hospice,1,...,0.0,Nov-2004,0.0,6704.0,50.40,27.0,Jan-2014,5872.80,732.0,737.0
38,6000.0,6000.0,6000.000000,36,12.42,200.50,B,B4,Cox Communications,1,...,0.0,Apr-2007,1.0,7310.0,66.50,12.0,Apr-2014,1923.53,697.0,692.0
39,12500.0,12500.0,12475.000000,60,12.69,282.44,B,B5,United States Infrastructure Corporation,1,...,0.0,Dec-2001,3.0,10143.0,50.00,24.0,Jan-2017,281.92,737.0,612.0
40,9600.0,9600.0,9600.000000,36,7.51,298.67,A,A3,Nucor Building Systems,4,...,0.0,Jan-2003,0.0,2896.0,18.10,11.0,Jan-2015,311.56,762.0,827.0
41,12000.0,12000.0,12000.000000,36,7.90,375.49,A,A4,John Wiley Jr.,10,...,0.0,Mar-1994,0.0,8601.0,21.00,25.0,Jan-2015,380.98,727.0,747.0
44,6000.0,6000.0,6000.000000,36,6.03,182.62,A,A1,"Stewart Enterprises, Inc.",10,...,0.0,Nov-1995,1.0,3378.0,32.50,28.0,Jul-2012,15.01,792.0,782.0
45,14000.0,14000.0,14000.000000,36,9.91,451.15,B,B1,golfers warehouse,6,...,0.0,Jul-1999,1.0,2219.0,13.40,40.0,Jan-2015,457.91,727.0,687.0

In [30]:
cols = df.columns
#getting the list of features that are numeric
num_cols_list = df._get_numeric_data().columns
print(df[num_cols_list])
#getting the list of features that are categorical
cat_cols_list=list(set(cols) - set(num_cols_list))
#print(df[cat_cols_list])

from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

X=df[num_cols_list].ix[:, df[num_cols_list].columns != 'int_rate']
Y=df.int_rate
feature_test = SelectKBest(score_func=chi2, k=4)

fit = feature_test.fit(X, Y)

print("Selected Features: %s") % fit.support_

       loan_amnt  funded_amnt  funded_amnt_inv  int_rate  installment  \
1         2500.0       2500.0      2500.000000     15.27        59.83
3        10000.0      10000.0     10000.000000     13.49       339.31
4         3000.0       3000.0      3000.000000     12.69        67.79
6         7000.0       7000.0      7000.000000     15.96       170.08
7         3000.0       3000.0      3000.000000     18.64       109.43
9         5375.0       5375.0      5350.000000     12.69       121.45
10        6500.0       6500.0      6500.000000     14.65       153.45
12        9000.0       9000.0      9000.000000     13.49       305.38
13        3000.0       3000.0      3000.000000      9.91        96.68
16       10000.0      10000.0     10000.000000     15.27       347.98
17        3600.0       3600.0      3600.000000      6.03       109.57
18        6000.0       6000.0      6000.000000     11.71       198.46
20       20250.0      20250.0     19142.161077     15.27       484.63
21       21000.0      21000.0     21000.000000     12.42       701.73
22       10000.0      10000.0     10000.000000     11.71       330.76
27        5000.0       5000.0      5000.000000     16.77       123.65
28        4000.0       4000.0      4000.000000     11.71       132.31
29        8500.0       8500.0      8500.000000     11.71       281.15
31       31825.0      31825.0     31825.000000      7.90       995.82
32       10000.0      10000.0      9975.000000     15.96       242.97
33        5000.0       5000.0      5000.000000      8.90       158.77
35       12400.0      12400.0     12400.000000     10.65       403.91
36       10800.0      10800.0     10800.000000      9.91       348.03
37       15000.0      15000.0     15000.000000      7.90       469.36
38        6000.0       6000.0      6000.000000     12.42       200.50
39       12500.0      12500.0     12475.000000     12.69       282.44
40        9600.0       9600.0      9600.000000      7.51       298.67
41       12000.0      12000.0     12000.000000      7.90       375.49
44        6000.0       6000.0      6000.000000      6.03       182.62
45       14000.0      14000.0     14000.000000      9.91       451.15
...          ...          ...              ...       ...          ...
42439    11625.0      11625.0      1175.000000     15.01       403.07
42440     2500.0       2500.0       725.000000      7.43        77.69
42441    11050.0      11050.0      1175.000000     15.96       388.28
42442     3000.0       3000.0       625.000000     12.49       100.35
42443     6000.0       6000.0      1600.000000     14.70       207.11
42444     1500.0       1500.0        25.000000     11.86        49.72
42445     3000.0       3000.0       850.000000      8.38        94.54
42446     4500.0       4500.0      3000.000000      8.07       141.15
42448    15000.0      15000.0      1000.000000     12.17       499.45
42449     5000.0       5000.0      2250.000000     10.91       163.48
42453     8950.0       8950.0      3650.000000      9.64       287.30
42454     5700.0       5700.0      1450.000000     13.43       193.26
42455     5000.0       5000.0       725.000000     14.70       172.59
42456     8950.0       8950.0       500.000000     16.91       318.69
42457    16225.0      16225.0       475.000000     17.86       585.41
42458     5000.0       5000.0       750.000000     13.75       170.29
42459     2500.0       2500.0      1125.000000      9.96        80.63
42461     2000.0       2000.0      1775.000000      8.38        63.03
42463    25000.0       9550.0       800.000000     15.33       332.60
42464    25000.0      13750.0       825.000000     16.91       489.61
42466     6000.0       6000.0      1025.000000     12.80       201.60
42467    19000.0      19000.0      1450.000000     16.28       670.59
42468    12000.0      12000.0       850.000000     14.38       412.37
42469    13000.0      13000.0       825.000000     17.22       464.95
42470     8000.0       8000.0      1400.000000     16.91       284.86
42471    10000.0      10000.0      1775.000000     15.01       346.73
42472     8000.0       8000.0      4025.000000      9.96       257.99
42474    13000.0      13000.0       700.000000     10.91       425.04
42477     2000.0       2000.0      1000.000000     13.43        67.81
42478     3000.0       3000.0      1300.000000     13.75       102.17

       emp_length  annual_inc    dti  delinq_2yrs  inq_last_6mths  revol_bal  \
1               1     30000.0   1.00          0.0             5.0     1687.0
3              10     49200.0  20.00          0.0             1.0     5598.0
4               1     80000.0  17.94          0.0             0.0    27783.0
6               8     47004.0  23.51          0.0             1.0    17726.0
7               9     48000.0   5.35          0.0             2.0     8221.0
9               1     15000.0  18.08          0.0             0.0     9279.0
10              5     72000.0  16.12          0.0             2.0     4032.0
12              1     30000.0  10.08          0.0             1.0    10452.0
13              3     15000.0  12.56          0.0             2.0     7323.0
16              4     42000.0  18.60          0.0             2.0    24043.0
17             10    110000.0  10.52          0.0             0.0    22836.0
18              1     84000.0  18.44          2.0             0.0        0.0
20              3     43370.0  26.53          0.0             3.0    17813.0
21             10    105000.0  13.22          0.0             0.0    32135.0
22             10     50000.0  11.18          0.0             0.0    10056.0
27              2     50004.0  13.97          3.0             0.0     4345.0
28             10    106000.0   5.63          1.0             0.0     6110.0
29              1     25000.0  12.19          0.0             0.0     6441.0
31              5     75000.0  14.03          0.0             0.0    23151.0
32              2     29120.0  22.83          0.0             1.0    16158.0
33              2     24044.0  11.93          0.0             0.0     2224.0
35             10     41000.0  11.80          0.0             2.0    11095.0
36              2     55596.0   5.50          0.0             0.0     2535.0
37              1     45000.0   8.48          0.0             0.0     6704.0
38              1     36852.0  10.62          0.0             1.0     7310.0
39              1     27000.0  16.04          0.0             3.0    10143.0
40              4     68004.0   6.63          0.0             0.0     2896.0
41             10     62300.0  16.70          0.0             0.0     8601.0
44             10     45600.0   5.34          0.0             1.0     3378.0
45              6     80000.0  10.00          0.0             1.0     2219.0
...           ...         ...    ...          ...             ...        ...
42439           1     32500.0   0.74          0.0             4.0      381.0
42440           1     22800.0   0.53          0.0             5.0      416.0
42441           3     27716.0  12.90          0.0             3.0     2621.0
42442           1     65000.0  14.25          0.0             8.0     8143.0
42443           1     22000.0  20.00          0.0            19.0    15782.0
42444           5     28000.0  14.31          1.0             1.0        0.0
42445           1     20000.0   6.72          0.0             9.0     7021.0
42446           1     18240.0   3.29          0.0             1.0        0.0
42448           1     83200.0  17.02          0.0             5.0    37570.0
42449           1     42500.0   1.21          0.0             1.0     1424.0
42453           2    100000.0  18.24          1.0            13.0     2150.0
42454           5     65000.0  18.22          0.0             3.0     3023.0
42455           6     50000.0  15.14          0.0             0.0    36662.0
42456           3     70000.0   1.35          0.0             1.0     2864.0
42457           2    120000.0  14.09          1.0             0.0     1100.0
42458           1    100000.0   6.20          0.0            10.0     9501.0
42459           1     18000.0   2.33          0.0             1.0     2937.0
42461           1     22000.0  13.09          0.0             0.0      425.0
42463           2    270000.0   7.33          0.0             5.0   107007.0
42464           3    500000.0   7.47          1.0             2.0   168496.0
42466           8     57000.0  15.20          2.0             4.0    13622.0
42467           1    100000.0   9.79          0.0             1.0     1603.0
42468           1     15000.0   6.48          0.0            12.0     1464.0
42469           1     32000.0  15.98          0.0             1.0     6703.0
42470          10     60000.0  20.22          0.0             1.0     6755.0
42471           1     50000.0   7.75          0.0             1.0    16246.0
42472           3     25000.0   0.48          0.0             1.0      316.0
42474           2     62000.0  20.00          0.0             4.0    13748.0
42477           7     45000.0   8.75          0.0             8.0     1615.0
42478           1     12000.0  19.30          1.0             4.0     2545.0

       revol_util  total_acc  last_pymnt_amnt  meanfico  last_meanfico
1            9.40        4.0           119.66     742.0          249.5
3           21.00       37.0           357.48     692.0          602.0
4           53.90       38.0            67.30     697.0          692.0
6           85.60       11.0          1313.76     692.0          652.0
7           87.50        4.0           111.34     662.0          687.0
9           36.50        3.0           121.45     727.0          502.0
10          20.60       23.0          1655.54     697.0          732.0
12          91.70        9.0           305.38     712.0          617.0
13          43.10       11.0           102.43     707.0          782.0
16          70.20       28.0           370.46     672.0          617.0
17          16.00       42.0           583.45     762.0          792.0
18          37.73       14.0            16.98     687.0          557.0
20          85.60       22.0          6024.09     727.0          682.0
21          90.30       38.0           701.73     707.0          532.0
22          82.40       21.0           349.21     692.0          687.0
27          59.50       22.0           123.65     677.0          577.0
28          37.70       44.0          2638.77     682.0          687.0
29          59.10       12.0           581.59     697.0          597.0
31          27.40       26.0         16966.70     762.0          642.0
32          63.60       31.0           241.99     692.0          572.0
33          29.30       16.0           163.64     702.0          692.0
35          57.20       12.0           417.61     722.0          692.0
36          13.30       18.0          3483.79     707.0          677.0
37          50.40       27.0          5872.80     732.0          737.0
38          66.50       12.0          1923.53     697.0          692.0
39          50.00       24.0           281.92     737.0          612.0
40          18.10       11.0           311.56     762.0          827.0
41          21.00       25.0           380.98     727.0          747.0
44          32.50       28.0            15.01     792.0          782.0
45          13.40       40.0           457.91     727.0          687.0
...           ...        ...              ...       ...            ...
42439       63.50        2.0           408.49     647.0          657.0
42440       10.40        2.0            53.47     747.0          249.5
42441       51.50       15.0           388.27     647.0          717.0
42442       60.30       24.0            70.29     667.0          249.5
42443       36.20       17.0           172.02     667.0          602.0
42444        0.00        2.0             1.30     667.0          249.5
42445       27.40        4.0          2797.38     732.0          602.0
42446        0.00        2.0           143.80     737.0          597.0
42448       59.50       37.0           499.85     712.0          707.0
42449       43.20        3.0           167.97     677.0          717.0
42453        4.20       39.0           887.40     757.0          249.5
42454       12.60       17.0           198.59     667.0          627.0
42455       82.90       24.0           175.53     647.0          682.0
42456       81.60        5.0           318.69     637.0          717.0
42457        6.00       20.0           588.18     652.0          507.0
42458       64.60        6.0           172.06     647.0          702.0
42459       43.30        9.0            80.63     692.0          567.0
42461        9.40        6.0            67.07     737.0          772.0
42463       29.80       33.0           332.60     682.0          249.5
42464       46.10       47.0           530.67     667.0          567.0
42466       79.70       31.0           108.03     667.0          249.5
42467       64.10        6.0           704.12     662.0          517.0
42468       83.70        4.0          1228.87     672.0          522.0
42469       79.80        7.0           464.95     642.0          249.5
42470       99.30       23.0           284.86     647.0          652.0
42471       83.30       12.0           346.73     647.0          812.0
42472       19.20        3.0            18.71     702.0          512.0
42474       50.20       53.0           426.53     697.0          652.0
42477       54.10        7.0            69.51     647.0          607.0
42478       14.40       14.0           130.78     667.0          557.0

[33041 rows x 16 columns]

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').