In [222]:
from io import StringIO
import requests
import json
import pandas as pd
import numpy as np
# @hidden_cell
# This function accesses a file in your Object Storage. The definition contains your credentials.
# You might want to remove those credentials before you share your notebook.
def get_object_storage_file_with_credentials_b6d2dc4304df42d5bf425b6ca8af67ff(container, filename):
    """This functions returns a StringIO object containing
    the file content from Bluemix Object Storage."""

    url1 = ''.join(['https://identity.open.softlayer.com', '/v3/auth/tokens'])
    data = {'auth': {'identity': {'methods': ['password'],
            'password': {'user': {'name': 'member_cd9be0e4ff1994ebede81451af2f9ee17e1d0d66','domain': {'id': '9d54dfb7f46d48d8930e2e61e1e7ddab'},
            'password': 'IbA26vS(8zQl.2_P'}}}}}
    headers1 = {'Content-Type': 'application/json'}
    resp1 = requests.post(url=url1, data=json.dumps(data), headers=headers1)
    resp1_body = resp1.json()
    for e1 in resp1_body['token']['catalog']:
        if(e1['type']=='object-store'):
            for e2 in e1['endpoints']:
                        if(e2['interface']=='public'and e2['region']=='dallas'):
                            url2 = ''.join([e2['url'],'/', container, '/', filename])
    s_subject_token = resp1.headers['x-subject-token']
    headers2 = {'X-Auth-Token': s_subject_token, 'accept': 'application/json'}
    resp2 = requests.get(url=url2, headers=headers2)
    return StringIO(resp2.text)

df = pd.read_csv(get_object_storage_file_with_credentials_b6d2dc4304df42d5bf425b6ca8af67ff('LendingClub', 'Processed_Acc_Dim_Red_hasNANs.csv'))
df.head()

,acc_open_past_24mths,addr_state,all_util,annual_inc,annual_inc_joint,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,collection_recovery_fee,...,total_cu_tl,total_il_high_credit_limit,total_pymnt,total_pymnt_inv,total_rec_int,total_rec_late_fee,total_rec_prncp,total_rev_hi_lim,verification_status,zip_code
0,NaN,GA,NaN,30000,NaN,NaN,NaN,NaN,0,1.12,...,NaN,NaN,1014.53,1014.53,435.17,0.00,456.46,NaN,Source Verified,309
1,NaN,CA,NaN,49200,NaN,NaN,NaN,NaN,0,0.00,...,NaN,NaN,12231.90,12231.89,2214.92,16.97,10000.00,NaN,Source Verified,917
2,NaN,OR,NaN,80000,NaN,NaN,NaN,NaN,0,0.00,...,NaN,NaN,4066.91,4066.91,1066.91,0.00,3000.00,NaN,Source Verified,972
3,NaN,NC,NaN,47004,NaN,NaN,NaN,NaN,0,0.00,...,NaN,NaN,10137.85,10137.84,3137.84,0.00,7000.00,NaN,Not Verified,280
4,NaN,CA,NaN,48000,NaN,NaN,NaN,NaN,0,0.00,...,NaN,NaN,3939.14,3939.14,939.14,0.00,3000.00,NaN,Source Verified,900

In [223]:
remove_cols=[]
for cols in list(df):
    diff = len(df[cols]) - df[cols].count()
    if(diff/len(df[cols]) * 100 >50):
#        
        remove_cols.append(cols)
df=df[df.columns.difference(remove_cols)]

In [224]:
df.head()

,acc_open_past_24mths,addr_state,annual_inc,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,collection_recovery_fee,collections_12_mths_ex_med,credit_age,...,total_bc_limit,total_il_high_credit_limit,total_pymnt,total_pymnt_inv,total_rec_int,total_rec_late_fee,total_rec_prncp,total_rev_hi_lim,verification_status,zip_code
0,NaN,GA,30000,NaN,NaN,NaN,0,1.12,0,17,...,NaN,NaN,1014.53,1014.53,435.17,0.00,456.46,NaN,Source Verified,309
1,NaN,CA,49200,NaN,NaN,NaN,0,0.00,0,20,...,NaN,NaN,12231.90,12231.89,2214.92,16.97,10000.00,NaN,Source Verified,917
2,NaN,OR,80000,NaN,NaN,NaN,0,0.00,0,21,...,NaN,NaN,4066.91,4066.91,1066.91,0.00,3000.00,NaN,Source Verified,972
3,NaN,NC,47004,NaN,NaN,NaN,0,0.00,0,11,...,NaN,NaN,10137.85,10137.84,3137.84,0.00,7000.00,NaN,Not Verified,280
4,NaN,CA,48000,NaN,NaN,NaN,0,0.00,0,7,...,NaN,NaN,3939.14,3939.14,939.14,0.00,3000.00,NaN,Source Verified,900

In [225]:
df["acc_open_past_24mths"]=df["acc_open_past_24mths"].fillna(0)
df["acc_open_past_24mths"]=df["acc_open_past_24mths"].astype(int)

#print(df.annual_inc.isnull().values.any())



# del df["annual_inc_joint"]
del df["avg_cur_bal"]
del df["bc_open_to_buy"]
del df["bc_util"]
del df["desc"]
del df["earliest_cr_line"]
#print(df.annual_inc_joint.value_counts())

In [226]:

df.ix[:3,10:20]

,earliest_cr_line_year,emp_length,emp_title,fico_range_high,fico_range_low,funded_amnt_inv,grade,grade_based_on_inq_last_6mths,home_ownership,initial_list_status
0,1999,1,Ryder,744,740,2500,C,C,RENT,f
1,1996,10,AIR RESOURCES BOARD,694,690,10000,C,B,RENT,f
2,1996,1,University Medical Group,699,695,3000,B,A,RENT,f
3,2005,8,Southern Star Photography,694,690,7000,C,B,RENT,f

In [227]:
df.insert(14, "fico_range_grade", "A")

In [228]:

df.fico_range_grade=np.where(df['fico_range_high'] > 800,'Excellent', 
           np.where(df['fico_range_high'].between(750,799), 'Very Good',
           np.where(df['fico_range_high'].between(700,749), 'Good',
           np.where(df['fico_range_high'].between(650,699), 'Fair',
           np.where(df['fico_range_high'].between(600,649), 'Poor',
           'Very bad'
         )))))
del df["fico_range_high"]
del df["fico_range_low"]
del df["inq_last_6mths"]
del df["last_credit_pull_d"]
del df["last_credit_pull_d_year"]
del df["last_fico_range"]
del df["last_fico_range_high"]
del df["last_fico_range_low"]
del df["last_meanfico"]
del df["mo_sin_old_rev_tl_op"]
del df["mo_sin_rcnt_rev_tl_op"]

In [229]:
df['issue_d']=pd.Series(df['issue_d'].str[4:])

In [230]:
df["mo_sin_old_il_acct"]=df["mo_sin_old_il_acct"].fillna(int(df["mo_sin_old_il_acct"].mean()))

df['mo_sin_old_il_acct']=df['mo_sin_old_il_acct'].astype(int)

df["mo_sin_rcnt_tl"]=df["mo_sin_rcnt_tl"].fillna(int(df["mo_sin_rcnt_tl"].mean()))

df['mo_sin_rcnt_tl']=df['mo_sin_rcnt_tl'].astype(int)

df["mort_acc"]=df["mort_acc"].fillna(int(df["mort_acc"].mean()))

df['mort_acc']=df['mort_acc'].astype(int)

df.ix[:3,19:30]

,installment,int_rate,issue_d,last_pymnt_amnt,loan_amnt,loan_status,meanfico,mo_sin_old_il_acct,mo_sin_rcnt_tl,mort_acc,mths_since_last_delinq
0,59.83,15.27,2011,119.66,2500,Charged Off,742,127,8,1,0
1,339.31,13.49,2011,357.48,10000,Fully Paid,692,127,8,1,35
2,67.79,12.69,2011,67.30,3000,Fully Paid,697,127,8,1,38
3,170.08,15.96,2011,1313.76,7000,Fully Paid,692,127,8,1,0

In [231]:

del df["mths_since_recent_bc"]
del df["mths_since_recent_inq"]
del df["num_actv_bc_tl"]
del df["num_bc_sats"]
del df["num_bc_tl"]
del df["num_il_tl"]
del df["num_op_rev_tl"]
del df["num_rev_accts"]
del df["num_rev_tl_bal_gt_0"]
del df["num_sats"]
del df["num_tl_120dpd_2m"]
del df["num_tl_30dpd"]
del df["num_tl_90g_dpd_24m"]
del df["out_prncp"]
del df["policy_code"]
del df["earliest_cr_line_year"]

In [193]:
import math
ceil_function= lambda x: math.ceil(x*100)/100

df["num_accts_ever_120_pd"]=df["num_accts_ever_120_pd"].fillna(int(df["num_accts_ever_120_pd"].mean()))

df['num_accts_ever_120_pd']=df['num_accts_ever_120_pd'].astype(int)


df["num_actv_rev_tl"]=df["num_actv_rev_tl"].fillna(int(df["num_actv_rev_tl"].mean()))

df['num_actv_rev_tl']=df['num_actv_rev_tl'].astype(int)


df["num_tl_op_past_12m"]=df["num_tl_op_past_12m"].fillna(int(df["num_tl_op_past_12m"].mean()))

df['num_tl_op_past_12m']=df['num_tl_op_past_12m'].astype(int)

df["pct_tl_nvr_dlq"]=df["pct_tl_nvr_dlq"].fillna(float(df["pct_tl_nvr_dlq"].mean()))

df['pct_tl_nvr_dlq']=df['pct_tl_nvr_dlq'].apply(ceil_function)

df["percent_bc_gt_75"]=df["percent_bc_gt_75"].fillna(float(df["percent_bc_gt_75"].mean()))

df['percent_bc_gt_75']=df['percent_bc_gt_75'].apply(ceil_function)

df.ix[:3,30:40]

,num_accts_ever_120_pd,num_actv_rev_tl,num_tl_op_past_12m,open_acc,out_prncp_inv,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec,pub_rec_bankruptcies,purpose
0,0,5,2,3,0,94.07,47.46,0,0,car
1,0,5,2,10,0,94.07,47.46,0,0,other
2,0,5,2,15,0,94.07,47.46,0,0,other
3,0,5,2,7,0,94.07,47.46,0,0,debt_consolidation

In [232]:
del df["tax_liens"]
del df["title"]
del df["tot_coll_amt"]
del df["tot_cur_bal"]
del df["tot_hi_cred_lim"]
del df["total_bal_ex_mort"]
del df["total_bc_limit"]
del df["total_il_high_credit_limit"]
del df["total_pymnt"]
del df["total_rec_late_fee"]
del df["total_rev_hi_lim"]
del df["zip_code"]
del df["recoveries"]

In [233]:
# print(len(df))
# print(df.verification_status.isnull().sum())
# del df["zip_code"]
# print(df.recoveries.value_counts())
df = df[pd.notnull(df['revol_util'])]

df["total_rec_prncp"]=df["total_rec_prncp"].astype(int)

In [234]:
df.int_rate.head(3)

0    15.27
1    13.49
2    12.69
Name: int_rate, dtype: float64

In [50]:
from io import BytesIO  
import requests  
import json  
import pandas as pd

def put_file(credentials, local_file_name):  
    """This functions returns a StringIO object containing
    the file content from Bluemix Object Storage V3."""
    f = open(local_file_name,'r')
    my_data = f.read()
    url1 = ''.join(['https://identity.open.softlayer.com', '/v3/auth/tokens'])
    data = {'auth': {'identity': {'methods': ['password'],
            'password': {'user': {'name': credentials['username'],'domain': {'id': credentials['domain_id']},
            'password': credentials['password']}}}}}
    headers1 = {'Content-Type': 'application/json'}
    resp1 = requests.post(url=url1, data=json.dumps(data), headers=headers1)
    resp1_body = resp1.json()
    for e1 in resp1_body['token']['catalog']:
        if(e1['type']=='object-store'):
            for e2 in e1['endpoints']:
                        if(e2['interface']=='public'and e2['region']=='dallas'):
                            url2 = ''.join([e2['url'],'/', credentials['container'], '/', local_file_name])
    s_subject_token = resp1.headers['x-subject-token']
    headers2 = {'X-Auth-Token': s_subject_token, 'accept': 'application/json'}
    resp2 = requests.put(url=url2, headers=headers2, data = my_data )
    print (resp2)

In [ ]:

# @hidden_cell
credentials_4 = {
  'auth_url':'https://identity.open.softlayer.com',
  'project':'object_storage_b6d2dc43_04df_42d5_bf42_5b6ca8af67ff',
  'project_id':'b27f8cf040e5488eb7ceb30211ba0896',
  'region':'dallas',
  'user_id':'bd256d68aea5489f8b140af608a2dbe9',
  'domain_id':'9d54dfb7f46d48d8930e2e61e1e7ddab',
  'domain_name':'1257643',
  'username':'member_cd9be0e4ff1994ebede81451af2f9ee17e1d0d66',
  'password':"""IbA26vS(8zQl.2_P""",
  'container':'LendingClub',
  'tenantId':'undefined',
  'filename':'azure_classfication.csv'
}

In [ ]:
df.to_csv("accepted_merged_final.csv",index=False)

In [ ]:
put_file(credentials_4,'accepted_merged_final.csv')

In [198]:
#Compute the corelation between the features to determine the relationship between all the features
correlations_technique1 = df.corr(method='pearson')
correlations_technique1.ix[12:13,0:9]

,acc_open_past_24mths,annual_inc,chargeoff_within_12_mths,collection_recovery_fee,collections_12_mths_ex_med,credit_age,delinq_2yrs,delinq_amnt,dti
int_rate,0.192336,-0.079927,0.010339,0.111194,0.011816,-0.115566,0.042543,0.005636,0.023232

In [142]:
#Compute the corelation between the features to determine the relationship between all the features
correlations_technique1 = df.corr(method='pearson')
correlations_technique1.ix[12:13,9:14]

          emp_length  funded_amnt_inv  installment  int_rate  last_pymnt_amnt
int_rate   -0.004395         0.140263     0.144535       1.0         0.081128

In [143]:
#Compute the corelation between the features to determine the relationship between all the features
correlations_technique1.ix[12:13,14:24]

,loan_amnt,meanfico,mo_sin_old_il_acct,mo_sin_rcnt_tl,mort_acc,mths_since_last_delinq,mths_since_last_record,num_accts_ever_120_pd,num_actv_rev_tl,num_tl_op_past_12m
int_rate,0.140293,-0.398767,-0.07098,-0.129685,-0.076832,0.03404,0.061155,0.040595,0.078255,0.212036

In [144]:
#Compute the corelation between the features to determine the relationship between all the features
correlations_technique1.ix[12:13,24:37]

,open_acc,out_prncp_inv,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec,pub_rec_bankruptcies,revol_bal,revol_util,term,total_acc,total_pymnt_inv,total_rec_int,total_rec_prncp
int_rate,-0.008811,0.066844,-0.056118,0.251064,0.052301,0.05699,-0.040226,0.24016,0.410781,-0.041351,0.118416,0.429998,-0.00836

In [235]:
from sklearn.preprocessing import LabelEncoder

#using label encoder to convert categorical columns into numeric values
def dummyEncode(df):
        columnsToEncode = list(df)
        le = LabelEncoder()
        for feature in columnsToEncode:
            try:
                df[feature] = le.fit_transform(df[feature])
            except:
                print('Error encoding '+feature)
        return df

In [201]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression



#my_list=['term','revol_util','total_rec_int','meanfico','int_rate']
pearson_df=df.copy()
pearson_df=pearson_df[['acc_open_past_24mths','num_tl_op_past_12m','percent_bc_gt_75','term','revol_util','total_rec_int','meanfico','int_rate']]

#random split method for creating the training and test splits
X_train_pearson, X_test_pearson, Y_train_pearson, Y_test_pearson = train_test_split(pearson_df.ix[:, pearson_df.columns != 'int_rate'], pearson_df.int_rate, test_size=0.2, random_state=0)


print("Starting Linear Regression algorithm")
linear_reg = LinearRegression()
fit=linear_reg.fit(X_train_pearson, Y_train_pearson)

print ("Intercept is ",linear_reg.intercept_)
print("Coefficient is ",linear_reg.coef_)

print("Training score is ",linear_reg.score(X_train_pearson, Y_train_pearson))

print("Testing score is ",linear_reg.score(X_test_pearson, Y_test_pearson))

Starting Linear Regression algorithm
Intercept is  38.9381971502
Coefficient is  [ 0.04880248  0.44061748  0.01479154  0.11625838 -0.00247121  0.00049937
 -0.04812268]
Training score is  0.420177546987
Testing score is  0.422061670699

In [202]:
pearson_df.int_rate.head()

0    15.27
1    13.49
2    12.69
3    15.96
4    18.64
Name: int_rate, dtype: float64

In [148]:
# percentile_df=df.copy()

# cols = percentile_df.columns
# num_cols = percentile_df._get_numeric_data().columns

# list_of_categorical_data=list(set(cols) - set(num_cols))

# print(list_of_categorical_data)
# percentile_df[list_of_categorical_data]=dummyEncode(percentile_df[list_of_categorical_data])


# cols1 = percentile_df.columns
# num_cols1 = percentile_df._get_numeric_data().columns

# list_of_categorical_data1=list(set(cols1) - set(num_cols1))
# print(list_of_categorical_data1)

['grade', 'initial_list_status', 'grade_based_on_inq_last_6mths', 'fico_range_grade', 'home_ownership', 'purpose', 'issue_d', 'addr_state', 'loan_status', 'emp_title', 'verification_status']

/usr/local/src/conda3_runtime/4.1.1/lib/python3.5/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

[]

In [203]:

percentile_df=df.copy()
percentile_df.ix[:, percentile_df.columns != 'int_rate']=dummyEncode(percentile_df.ix[:, percentile_df.columns != 'int_rate'])

from sklearn import feature_selection

#percentile_df=df
#percentile_df=percentile_df.dropna(how='any') 
#percentile_df[list_of_categorical_data]=dummyEncode(percentile_df[list_of_categorical_data])

X_train_percentile, X_test_percentile, Y_train_percentile, Y_test_percentile = train_test_split(percentile_df.ix[:, percentile_df.columns != 'int_rate'], percentile_df.int_rate, test_size=0.2, random_state=0)
feature_names = percentile_df.columns

fs = feature_selection.SelectPercentile(feature_selection.f_regression, percentile=20)
X_train_fs = fs.fit_transform(X_train_percentile, Y_train_percentile)

# print ('All features:', feature_names)
# print ('Scores of these features:', fs.scores_)
print ('***Features sorted by score:', [feature_names[i] for i in np.argsort(fs.scores_)[::-1]])
# print ('Peeking into first few samples (before and after):')
# print (X_train_percentile[:10])
# print (X_train_fs[:10])

/usr/local/src/conda3_runtime/4.1.1/lib/python3.5/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

***Features sorted by score: ['grade', 'total_pymnt_inv', 'revol_util', 'loan_status', 'fico_range_grade', 'total_rec_prncp', 'pct_tl_nvr_dlq', 'revol_bal', 'grade_based_on_inq_last_6mths', 'num_actv_rev_tl', 'acc_open_past_24mths', 'dti', 'installment', 'last_pymnt_amnt', 'mo_sin_old_il_acct', 'collection_recovery_fee', 'pub_rec_bankruptcies', 'initial_list_status', 'annual_inc', 'funded_amnt_inv', 'credit_age', 'total_acc', 'num_accts_ever_120_pd', 'mo_sin_rcnt_tl', 'meanfico', 'home_ownership', 'open_acc', 'issue_d', 'int_rate', 'mths_since_last_delinq', 'out_prncp_inv', 'pub_rec', 'percent_bc_gt_75', 'delinq_2yrs', 'purpose', 'term', 'mths_since_last_record', 'mort_acc', 'total_rec_int', 'emp_title', 'delinq_amnt', 'collections_12_mths_ex_med', 'chargeoff_within_12_mths', 'num_tl_op_past_12m', 'emp_length', 'addr_state', 'loan_amnt']

In [205]:

percentile_df=percentile_df[['grade', 'total_pymnt_inv', 'revol_util', 'loan_status', 'fico_range_grade', 'total_rec_prncp', 'revol_bal', 'grade_based_on_inq_last_6mths', 'acc_open_past_24mths', 'installment', 'last_pymnt_amnt', 'funded_amnt_inv', 'total_acc', 'credit_age', 'issue_d', 'annual_inc', 'meanfico','int_rate']]
#pearson_df=pearson_df.dropna(how='any') 
#percentile_df=dummyEncode(percentile_df)

#X_train=df
#random split method for creating the training and test splits
X_train_percentile, X_test_percentile, Y_train_percentile, Y_test_percentile = train_test_split(percentile_df.ix[:, percentile_df.columns != 'int_rate'], percentile_df.int_rate, test_size=0.2, random_state=0)

print(X_train_percentile.columns)
print(X_test_percentile.columns)
print(Y_train_percentile.head(2))
print(Y_test_percentile.head(2))

print("Starting Linear Regression algorithm")
linear_reg = LinearRegression()
fit=linear_reg.fit(X_train_percentile, Y_train_percentile)

print ("Intercept is ",linear_reg.intercept_)
print("Coefficient is ",linear_reg.coef_)
#print(lm.predict([18,3,0,4]))
print("Training score is ",linear_reg.score(X_train_percentile, Y_train_percentile))

#np.mean((linear_reg.predict(X_test)-Y_test)**2)
print("Testing score is ",linear_reg.score(X_test_percentile, Y_test_percentile))

Index(['grade', 'total_pymnt_inv', 'revol_util', 'loan_status',
       'fico_range_grade', 'total_rec_prncp', 'revol_bal',
       'grade_based_on_inq_last_6mths', 'acc_open_past_24mths', 'installment',
       'last_pymnt_amnt', 'funded_amnt_inv', 'total_acc', 'credit_age',
       'issue_d', 'annual_inc', 'meanfico'],
      dtype='object')
Index(['grade', 'total_pymnt_inv', 'revol_util', 'loan_status',
       'fico_range_grade', 'total_rec_prncp', 'revol_bal',
       'grade_based_on_inq_last_6mths', 'acc_open_past_24mths', 'installment',
       'last_pymnt_amnt', 'funded_amnt_inv', 'total_acc', 'credit_age',
       'issue_d', 'annual_inc', 'meanfico'],
      dtype='object')
1057104     8.39
582315     14.65
Name: int_rate, dtype: float64
209600     19.99
1130067     8.99
Name: int_rate, dtype: float64
Starting Linear Regression algorithm
Intercept is  8.75199974634
Coefficient is  [  3.25899780e+00  -8.26833820e-07   4.50319541e-04   8.32923056e-02
  -4.50428189e-02  -1.60224476e-05  -3.89349324e-06   9.76849101e-02
   4.67054966e-02   1.61670077e-05   4.46438749e-07   1.05764034e-05
  -5.87106024e-03  -1.00302311e-03  -2.00407979e-01  -7.99928399e-06
  -1.18137168e-02]
Training score is  0.916902325645
Testing score is  0.91699763233

In [207]:
from sklearn.linear_model import RandomizedLasso
lasso_df=df.copy()

#lasso_df=dummyEncode(lasso_df)
X=lasso_df.ix[:, lasso_df.columns != 'int_rate']
X=dummyEncode(X)
Y=lasso_df.int_rate

rlasso = RandomizedLasso(alpha='bic', verbose=False, n_resampling=50, random_state=1001, n_jobs=1)
rlasso.fit(X, Y)
 
print( "Features sorted by their score:")
coef = pd.DataFrame(rlasso.scores_, columns = ['RandomizedLasso_score'])

print (sorted(zip(map(lambda x: round(x, 4), rlasso.scores_), X), reverse=True))

/usr/local/src/conda3_runtime/4.1.1/lib/python3.5/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Features sorted by their score:
[(1.0, 'verification_status'), (1.0, 'total_rec_prncp'), (1.0, 'total_rec_int'), (1.0, 'total_pymnt_inv'), (1.0, 'total_acc'), (1.0, 'term'), (1.0, 'revol_util'), (1.0, 'revol_bal'), (1.0, 'purpose'), (1.0, 'pub_rec_bankruptcies'), (1.0, 'pub_rec'), (1.0, 'percent_bc_gt_75'), (1.0, 'pct_tl_nvr_dlq'), (1.0, 'out_prncp_inv'), (1.0, 'open_acc'), (1.0, 'num_tl_op_past_12m'), (1.0, 'num_actv_rev_tl'), (1.0, 'num_accts_ever_120_pd'), (1.0, 'mths_since_last_record'), (1.0, 'mths_since_last_delinq'), (1.0, 'mort_acc'), (1.0, 'mo_sin_rcnt_tl'), (1.0, 'mo_sin_old_il_acct'), (1.0, 'meanfico'), (1.0, 'loan_status'), (1.0, 'loan_amnt'), (1.0, 'last_pymnt_amnt'), (1.0, 'issue_d'), (1.0, 'installment'), (1.0, 'initial_list_status'), (1.0, 'home_ownership'), (1.0, 'grade_based_on_inq_last_6mths'), (1.0, 'grade'), (1.0, 'funded_amnt_inv'), (1.0, 'fico_range_grade'), (1.0, 'emp_title'), (1.0, 'emp_length'), (1.0, 'dti'), (1.0, 'delinq_amnt'), (1.0, 'delinq_2yrs'), (1.0, 'credit_age'), (1.0, 'collections_12_mths_ex_med'), (1.0, 'collection_recovery_fee'), (1.0, 'chargeoff_within_12_mths'), (1.0, 'annual_inc'), (1.0, 'acc_open_past_24mths'), (0.76000000000000001, 'addr_state')]

In [208]:
lasso_df.int_rate.head(3)

0    15.27
1    13.49
2    12.69
Name: int_rate, dtype: float64

In [210]:
from sklearn.feature_selection import RFE

rfe_df=df.copy()
rfe_df.ix[:, rfe_df.columns != 'int_rate']=dummyEncode(rfe_df.ix[:, rfe_df.columns != 'int_rate'])

X_train_rfe, X_test_rfe, Y_train_rfe, Y_test_rfe = train_test_split(rfe_df.ix[:, rfe_df.columns != 'int_rate'], rfe_df.int_rate, test_size=0.2, random_state=0)

lr = LinearRegression()
#rank all features, i.e continue the elimination until the last one
rfe = RFE(lr, n_features_to_select=1)
rfe.fit(X_train_rfe,Y_train_rfe)
 
print ("Features sorted by their rank:")
print (sorted(zip(map(lambda x: round(x, 4), rfe.ranking_), X_train_rfe)))

/usr/local/src/conda3_runtime/4.1.1/lib/python3.5/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Features sorted by their rank:
[(1, 'grade'), (2, 'initial_list_status'), (3, 'verification_status'), (4, 'term'), (5, 'fico_range_grade'), (6, 'issue_d'), (7, 'grade_based_on_inq_last_6mths'), (8, 'collections_12_mths_ex_med'), (9, 'chargeoff_within_12_mths'), (10, 'loan_status'), (11, 'acc_open_past_24mths'), (12, 'num_tl_op_past_12m'), (13, 'pub_rec'), (14, 'pub_rec_bankruptcies'), (15, 'meanfico'), (16, 'purpose'), (17, 'home_ownership'), (18, 'total_acc'), (19, 'emp_length'), (20, 'mort_acc'), (21, 'open_acc'), (22, 'credit_age'), (23, 'delinq_2yrs'), (24, 'percent_bc_gt_75'), (25, 'num_accts_ever_120_pd'), (26, 'mths_since_last_delinq'), (27, 'num_actv_rev_tl'), (28, 'mo_sin_rcnt_tl'), (29, 'mths_since_last_record'), (30, 'addr_state'), (31, 'mo_sin_old_il_acct'), (32, 'loan_amnt'), (33, 'funded_amnt_inv'), (34, 'installment'), (35, 'revol_util'), (36, 'pct_tl_nvr_dlq'), (37, 'delinq_amnt'), (38, 'dti'), (39, 'total_rec_prncp'), (40, 'annual_inc'), (41, 'revol_bal'), (42, 'out_prncp_inv'), (43, 'total_rec_int'), (44, 'total_pymnt_inv'), (45, 'collection_recovery_fee'), (46, 'last_pymnt_amnt'), (47, 'emp_title')]

In [211]:
rfe_df.int_rate.head(5)

0    15.27
1    13.49
2    12.69
3    15.96
4    18.64
Name: int_rate, dtype: float64

In [212]:
# rfe_df=df.copy()


rfe_df=rfe_df[['grade','verification_status','issue_d','term','initial_list_status','grade_based_on_inq_last_6mths','collections_12_mths_ex_med','fico_range_grade','chargeoff_within_12_mths',
               'loan_status','num_tl_op_past_12m','acc_open_past_24mths','pub_rec','pub_rec_bankruptcies','purpose','meanfico','total_acc','int_rate']]
#pearson_df=pearson_df.dropna(how='any') 
#rfe_df=dummyEncode(rfe_df)

rfe_df.ix[:, rfe_df.columns != 'int_rate']=dummyEncode(rfe_df.ix[:, rfe_df.columns != 'int_rate'])

#X_train=df
#random split method for creating the training and test splits
X_train_rfe, X_test_rfe, Y_train_rfe, Y_test_rfe = train_test_split(rfe_df.ix[:, rfe_df.columns != 'int_rate'], rfe_df.int_rate, test_size=0.2, random_state=0)

# print(X_train_rfe.columns)
# print(X_test_rfe.columns)
# print(Y_train_rfe.head(10))
# print(Y_test_rfe.head(2))

print("Starting Linear Regression algorithm")
linear_reg = LinearRegression()
fit=linear_reg.fit(X_train_rfe, Y_train_rfe)

print ("Intercept is ",linear_reg.intercept_)
print("Coefficient is ",linear_reg.coef_)
#print(lm.predict([18,3,0,4]))
print("Training score is ",linear_reg.score(X_train_rfe, Y_train_rfe))

#np.mean((linear_reg.predict(X_test)-Y_test)**2)
print("Testing score is ",linear_reg.score(X_test_rfe, Y_test_rfe))

/usr/local/src/conda3_runtime/4.1.1/lib/python3.5/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

1057104     8.39
582315     14.65
450455      8.90
908907      6.49
46622       7.62
446678     11.99
830870     10.99
83927      12.35
1077364    23.99
943755     11.99
Name: int_rate, dtype: float64
Starting Linear Regression algorithm
Intercept is  8.46968825487
Coefficient is  [ 3.228342    0.18447634 -0.11205113  0.30229126 -0.1712155   0.1010616
 -0.12022838 -0.04264375 -0.05479369  0.05129503 -0.02639741  0.04844942
 -0.0400275  -0.01892548  0.01982222 -0.02292975 -0.00922271]
Training score is  0.916515927266
Testing score is  0.916739627053

In [240]:
# common features from RFE and Select Percentile are
# grade, loan_status, fico_range_grade, grade_based_on_inq_last_6mths, acc_open_past_24mths, total_acc, issue_d, meanfico
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPRegressor

neural_network_df=df.copy()
neural_network_df=neural_network_df[['grade', 'total_pymnt_inv', 'revol_util', 'loan_status', 'fico_range_grade', 'total_rec_prncp', 'revol_bal', 'grade_based_on_inq_last_6mths', 'acc_open_past_24mths', 'installment', 'last_pymnt_amnt', 'funded_amnt_inv', 'total_acc', 'credit_age', 'issue_d', 'annual_inc', 'meanfico','int_rate']]

neural_network_df.ix[:, neural_network_df.columns != 'int_rate']=dummyEncode(neural_network_df.ix[:, neural_network_df.columns != 'int_rate'])

#neural network
print("Staring Neural Network")

X_train_nn, X_test_nn, Y_train_nn, Y_test_nn = train_test_split(neural_network_df.ix[:, neural_network_df.columns != 'int_rate'], neural_network_df.int_rate, test_size=0.2, random_state=0)


X_train_nn = StandardScaler().fit_transform(X_train_nn)
X_test_nn = StandardScaler().fit_transform(X_test_nn)

mlp = MLPRegressor(solver='lbfgs', hidden_layer_sizes=50,
                           max_iter=150, shuffle=True, random_state=1)
mlp.fit(X_train_nn, Y_train_nn)

# print(X_train_nn.columns)
# print(X_test_nn.columns)
# print(Y_train_nn.head(2))
# print(Y_test_nn.head(2))

# neural_network_reg=MLPClassifier(hidden_layer_sizes=(20,10,20))
# neural_network_reg.fit(X_train_nn,Y_train_nn)
#predictions = neural_network_reg.predict(X_test_nn)
# print("Intercept is ",mlp.intercept_)
# print("Coefficient is ",mlp.coef_)
print("Training score is ",mlp.score(X_train_nn, Y_train_nn))
print("Testing score is ",mlp.score(X_test_nn, Y_test_nn))

/usr/local/src/conda3_runtime/4.1.1/lib/python3.5/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Staring Neural Network
Training score is  0.951905223818
Testing score is  0.951993332139

In [245]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import r2_score

knn_df=df.copy()
knn_df=knn_df[['grade', 'total_pymnt_inv', 'revol_util', 'loan_status', 'fico_range_grade', 'total_rec_prncp', 'revol_bal', 'grade_based_on_inq_last_6mths', 'acc_open_past_24mths', 'installment', 'last_pymnt_amnt', 'funded_amnt_inv', 'total_acc', 'credit_age', 'issue_d', 'annual_inc', 'meanfico','int_rate']]

knn_df.ix[:, knn_df.columns != 'int_rate']=dummyEncode(knn_df.ix[:, knn_df.columns != 'int_rate'])

X_train_knn, X_test_knn, Y_train_knn, Y_test_knn = train_test_split(knn_df.ix[:, knn_df.columns != 'int_rate'], knn_df.int_rate, test_size=0.2, random_state=0)


print("Starting KNN algorithm")
for K in range(12):
         K_value = K+1
         knn_reg = KNeighborsRegressor(n_neighbors = K_value, weights='uniform', algorithm='auto')
         knn_reg.fit(X_train_knn, Y_train_knn)
         y_pred = knn_reg.predict(X_test_knn)
#          print("Mean Absolute Error is ",mean_absolute_error(Y_train,y_pred),"% for K-Value:",K_value)
#          #print("Mean Absolute Percentage Error is ",mean_absolute_percentage_error(Y_train,y_pred))
#          print("Root Mean Squared Error ",np.sqrt(mean_squared_error(Y_train,y_pred)))
         print("Accuracy of the model is ",r2_score(Y_test_knn,y_pred))

/usr/local/src/conda3_runtime/4.1.1/lib/python3.5/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Starting KNN algorithm
Accuracy of the model is  0.00600332621274
Accuracy of the model is  0.218296301205
Accuracy of the model is  0.282858456975
Accuracy of the model is  0.312147381213
Accuracy of the model is  0.32769924312
Accuracy of the model is  0.335558343248
Accuracy of the model is  0.339893487941
Accuracy of the model is  0.343432343619
Accuracy of the model is  0.345385774519
Accuracy of the model is  0.346509440622
Accuracy of the model is  0.346394114291
Accuracy of the model is  0.346469964183

In [244]:
from sklearn.ensemble import RandomForestRegressor

random_df=df.copy()
random_df=random_df[['grade', 'total_pymnt_inv', 'revol_util', 'loan_status', 'fico_range_grade', 'total_rec_prncp', 'revol_bal', 'grade_based_on_inq_last_6mths', 'acc_open_past_24mths', 'installment', 'last_pymnt_amnt', 'funded_amnt_inv', 'total_acc', 'credit_age', 'issue_d', 'annual_inc', 'meanfico','int_rate']]

random_df.ix[:, random_df.columns != 'int_rate']=dummyEncode(knn_df.ix[:, random_df.columns != 'int_rate'])

X_train_random, X_test_random, Y_train_random, Y_test_random = train_test_split(random_df.ix[:, random_df.columns != 'int_rate'], random_df.int_rate, test_size=0.2, random_state=0)


print("Staring Random forest algorithm")
random_forest = RandomForestRegressor(n_jobs=2)
random_forest.fit(X_train_random, Y_train_random)
y_pred=random_forest.predict(X_test_random)
#predict probability of first 10 records
#print(random_forest.predict_proba(X_test)[0:10])
# print("Mean Absolute Error is ",mean_absolute_error(Y_train,y_pred))
# #print("Mean Absolute Percentage Error is ",mean_absolute_percentage_error(Y_train,y_pred))
# print("Root Mean Squared Error ",np.sqrt(mean_squared_error(Y_train,y_pred)))
print("Accuracy of the model is ",r2_score(Y_test_random,y_pred))

/usr/local/src/conda3_runtime/4.1.1/lib/python3.5/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Staring Random forest algorithm
Accuracy of the model is  0.988796931553