In [2]:
from sklearn.cluster import KMeans
import numpy as np
import pandas as pd
df = pd.read_csv("Processed_Accepted_thin.csv",low_memory=False, encoding='cp1252')
df.head()

,acc_open_past_24mths,addr_state,all_util,annual_inc,annual_inc_joint,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,collection_recovery_fee,...,total_pymnt,total_pymnt_inv,total_rec_int,total_rec_late_fee,total_rec_prncp,total_rev_hi_lim,url,verification_status,verification_status_joint,zip_code
0,NaN,GA,NaN,30000,NaN,NaN,NaN,NaN,0,1.12,...,1014.53,1014.53,435.17,0.00,456.46,NaN,https://lendingclub.com/browse/loanDetail.acti...,Source Verified,NaN,309
1,NaN,CA,NaN,49200,NaN,NaN,NaN,NaN,0,0.00,...,12231.90,12231.89,2214.92,16.97,10000.00,NaN,https://lendingclub.com/browse/loanDetail.acti...,Source Verified,NaN,917
2,NaN,OR,NaN,80000,NaN,NaN,NaN,NaN,0,0.00,...,4066.91,4066.91,1066.91,0.00,3000.00,NaN,https://lendingclub.com/browse/loanDetail.acti...,Source Verified,NaN,972
3,NaN,NC,NaN,47004,NaN,NaN,NaN,NaN,0,0.00,...,10137.85,10137.84,3137.84,0.00,7000.00,NaN,https://lendingclub.com/browse/loanDetail.acti...,Not Verified,NaN,280
4,NaN,CA,NaN,48000,NaN,NaN,NaN,NaN,0,0.00,...,3939.14,3939.14,939.14,0.00,3000.00,NaN,https://lendingclub.com/browse/loanDetail.acti...,Source Verified,NaN,900

In [21]:
# df.describe()
df.ix[:5,40:50]

,last_meanfico,last_pymnt_amnt,last_pymnt_d,loan_amnt,loan_status,max_bal_bc,meanfico,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op
0,249,119.66,Apr-2013,2500,Charged Off,NaN,742,NaN,NaN,NaN
1,602,357.48,Jan-2015,10000,Fully Paid,NaN,692,NaN,NaN,NaN
2,692,67.30,Jan-2017,3000,Fully Paid,NaN,697,NaN,NaN,NaN
3,652,1313.76,May-2016,7000,Fully Paid,NaN,692,NaN,NaN,NaN
4,687,111.34,Jan-2015,3000,Fully Paid,NaN,662,NaN,NaN,NaN
5,502,121.45,Nov-2012,5375,Charged Off,NaN,727,NaN,NaN,NaN

In [22]:
df['max_bal_bc'].value_counts()

0.0         9297
3000.0       176
2000.0       168
8.0          150
4000.0       129
5000.0       123
2500.0       116
3500.0       113
4400.0       109
1900.0       108
1935.0       104
1960.0       104
1500.0       102
1800.0        99
2965.0        99
2924.0        98
4500.0        98
4900.0        97
2967.0        96
2900.0        95
2949.0        94
2970.0        94
1957.0        94
3800.0        93
7000.0        92
2938.0        92
2400.0        91
2988.0        91
1975.0        91
2950.0        91
            ...
23622.0        1
23621.0        1
23620.0        1
23618.0        1
23615.0        1
23610.0        1
23608.0        1
23677.0        1
23682.0        1
23684.0        1
23717.0        1
23740.0        1
23735.0        1
23731.0        1
23728.0        1
23727.0        1
23726.0        1
23721.0        1
23718.0        1
23713.0        1
23686.0        1
23712.0        1
23711.0        1
23702.0        1
23699.0        1
23696.0        1
23695.0        1
23688.0        1
23687.0        1
776843.0       1
Name: max_bal_bc, dtype: int64

In [5]:
df_array=df.values
df_array
#     ac_now_delinq == bad distr
#     application_type ==
#     download_timestamp ==
#     funded_amnt ==
#     id ==
#     inq_last_6mths

#     ***credit_pull_yr <<<
#     pymnt_plan == bad distr
#     sub_grade
# 
#     more
#  >>> url


# del df['fico_range']

# df['credit_age']

# collection_recovery_fee ?? 1,250,026 rest 2 dig

# desc text, cant be digit encoded eg: "Borrower added on 12/16/11 > I'm trying to b.."

# NOTE : last_fico_range is a valid bucket 30:40

array([[nan, 'GA', nan, ..., 'Source Verified', nan, 309],
       [nan, 'CA', nan, ..., 'Source Verified', nan, 917],
       [nan, 'OR', nan, ..., 'Source Verified', nan, 972],
       ...,
       [2.0, 'CA', 51.0, ..., 'Verified', nan, 907],
       [7.0, 'FL', 73.0, ..., 'Not Verified', nan, 334],
       [3.0, 'TX', 84.0, ..., 'Verified', nan, 770]], dtype=object)

In [ ]:
from sklearn import preprocessing

# data = {'score': [234,24,14,27,-74,46,73,-18,59,160]}
# df = pd.DataFrame(data)
# df


# y is now: array([2, 0, 1, 3, 2, 0, 1, 3])

min_max_scaler = preprocessing.MinMaxScaler()
np_scaled = min_max_scaler.fit_transform(df)
df_normalized = pd.DataFrame(np_scaled)
df_normalized

ValueError: could not convert string to float: 'Not Verified'

In [ ]:
df_small = df.head(1000)
df_100 = df.head(100)
list(df)

In [ ]:

df_small_array = df.head(1000).values
df_small_array

In [ ]:
df['addr_state'].value_counts()

In [ ]:
# list(df['addr_state'])
# list(set(df['addr_state']))
### Label encode, to normalize

from sklearn.preprocessing import LabelEncoder
y2 = list(df_100['addr_state'])
print(y2)
lb = LabelEncoder()
y = lb.fit_transform(y2)
print(y)

In [ ]:
#Manual clustering by state
grouped = df_small.groupby(['addr_state'])


l_grouped = list(grouped)
count = 0
for state_group in l_grouped:
    print(l_grouped[count][1].head(1))
    count+=1

print("count : ",count)

In [ ]:

kmeans = KMeans(n_clusters=2, random_state=0).fit(df_small_array)
print(kmeans.labels_)
# array([0, 0, 0, 1, 1, 1], dtype=int32)

In [ ]:
print(kmeans.predict([[0, 0], [4, 4]]))
# array([0, 1], dtype=int32)

In [ ]:
print(kmeans.cluster_centers_)
# array([[ 1.,  2.],[ 4.,  2.]])

In [ ]:
#### IRIS example
print(__doc__)


# Code source: GaÃ«l Varoquaux
# Modified for documentation by Jaques Grobler
# License: BSD 3 clause

import numpy as np
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D


from sklearn.cluster import KMeans
from sklearn import datasets

np.random.seed(5)

centers = [[1, 1], [-1, -1], [1, -1]]
iris = datasets.load_iris()

X = iris.data
y = iris.target

estimators = {'k_means_iris_3': KMeans(n_clusters=3),
              'k_means_iris_8': KMeans(n_clusters=8),
              'k_means_iris_bad_init': KMeans(n_clusters=3, n_init=1,
                                              init='random')}


fignum = 1
for name, est in estimators.items():
    fig = plt.figure(fignum, figsize=(4, 3))
    plt.clf()
    ax = Axes3D(fig, rect=[0, 0, .95, 1], elev=48, azim=134)

    plt.cla()
    est.fit(X)
    labels = est.labels_

    ax.scatter(X[:, 3], X[:, 0], X[:, 2], c=labels.astype(np.float))

    ax.w_xaxis.set_ticklabels([])
    ax.w_yaxis.set_ticklabels([])
    ax.w_zaxis.set_ticklabels([])
    ax.set_xlabel('Petal width')
    ax.set_ylabel('Sepal length')
    ax.set_zlabel('Petal length')
    fignum = fignum + 1

# Plot the ground truth
fig = plt.figure(fignum, figsize=(4, 3))
plt.clf()
ax = Axes3D(fig, rect=[0, 0, .95, 1], elev=48, azim=134)

plt.cla()

for name, label in [('Setosa', 0),
                    ('Versicolour', 1),
                    ('Virginica', 2)]:
    ax.text3D(X[y == label, 3].mean(),
              X[y == label, 0].mean() + 1.5,
              X[y == label, 2].mean(), name,
              horizontalalignment='center',
              bbox=dict(alpha=.5, edgecolor='w', facecolor='w'))
# Reorder the labels to have colors matching the cluster results
y = np.choose(y, [1, 2, 0]).astype(np.float)
ax.scatter(X[:, 3], X[:, 0], X[:, 2], c=y)

ax.w_xaxis.set_ticklabels([])
ax.w_yaxis.set_ticklabels([])
ax.w_zaxis.set_ticklabels([])
ax.set_xlabel('Petal width')
ax.set_ylabel('Sepal length')
ax.set_zlabel('Petal length')
plt.show()

In [ ]:
from sklearn.datasets.samples_generator import make_blobs
X, y = make_blobs(n_samples=10, centers=3, n_features=2,random_state=0)
print(X.shape)
# (10, 2)
print(y)
# array([0, 0, 1, 0, 2, 2, 2, 1, 1, 0])